@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin flex($direction, $justify, $align) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin footerTextSizeSetting {
    font-size: 15px;
    margin-bottom: .4rem;
    line-height: 1.6;
}

@mixin footerLinkSizeSetting {
    font-size: 15px;
    margin-bottom: .4rem;
    line-height: 1.6;
    display: block;
    transition: all .2s ease-in-out;
    &:hover {
        filter: brightness(200%);
    }
}