@import "./variables";
@import "./mixins";

.top-banner {
    @include flex(row, space-between, center);
    height: 58vh;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        @include size(40vw, 40vw);
        background-color: #c1c1c12b;
        bottom: -240px;
        left: -140px;
        border-radius: 50%;
        transform: rotate(-58deg);
        z-index: -10;
    }
    &::after {
        content: "";
        position: absolute;
        @include size(60vw, 60vw);
        background-color: #c1c1c12b;
        top: -290px;
        right: -360px;
        border-radius: 30px;
        transform: rotate(-58deg);
        z-index: -10;
    }
    
    .banner-details {
        height: auto;
        @include flex(column, space-between, flexStart);
        padding: 6rem 0px;
        padding-right: 6rem;

        .banner-heading {
            font-size: 26px;
            text-transform: capitalize;
        }

        .banner-title {
            color: $main;
            font-size: 62px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

        .banner-caption {
            color: #676767;
        }

        p:nth-child(4) {
            color: hsl(0, 4%, 24%);
            font-weight: bold;
        }

        .banner-downloadlinks {
            img {
                cursor: pointer;
                transition: all .2s ease-in;
                &:hover {
                    transition: all .2s ease-in;
                    transform: scale(1.02);
                }
            }
        }
    }
    
    .banner-img-container {
        height: 100%;
        img {
            width: 500px;
            animation: imageMovement 4s infinite;
        }
    }
}

@keyframes imageMovement {
    50% {
        transform: translateY(20px);
    }
}

// ------------ Mobile & Tablet Size ------------
@media (max-width: 1000px) {
    .top-banner {
        &::before {
            @include size(400px, 400px);
            bottom: -140px;
            left: -120px;
        }
    }

    &::after {
        @include size(400px, 400px);
        background-color: #c1c1c12b;
        top: -260px !important;
        right: -80px !important;
    }

    .banner-details {
        width: 100vw;
        padding: 0 !important;
        align-items: center;
        gap: 1.2rem;

        p {
            text-align: center;
        }

        .banner-downloadlinks img {
                width: 100%;
                display: block;
        }
        
    }

    .banner-img-container {
        position: absolute;
        left: -999em;
    }
}