@import "./mixins";
@import "./variables";

header {
    @include size(100vw, 10vh);
    @include flex(row, space-between, center);

    #title {
        user-select: none;
        text-transform: uppercase;
    }

    .hamburger-menu {
        display: none;
    }

    .sign-in {
        a {
            color: #555555;

            &:hover {
                color: $main;
                transition: all .2s ease-in-out;
            }
        }
    }
}

// ----------------- Mobile Size -----------------

@media (max-width: 768px) {
    header {
        position: relative;

        .hamburger-menu {
            display: flex;
        }

        button, .sign-in {
            display: none;
        }
    }
}