@import "./variables";
@import "./mixins";

.plan {
    @include size(25vw, 72vh);
    @include flex(column, space-around, center);
    box-shadow: 0px 0px 12px 2px #aaaaaa41;
    border-radius: 6px;
    transition: box-shadow .3s ease-in-out;
    &:hover {
        box-shadow: 0px 0px 12px 2px $plan-hover;
    }
}

.plan-type {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}

.plan-price {
    span {
        color: $main;
        font-size: 46px;
    }
}

.plan-properties {
    height: 50%;
    @include flex(column, space-between, flex-start);
    list-style: none;
}

.plan-property{
    position: relative;
    text-transform: capitalize;

    &::before {
        content: url("../Svg/CheckMark.svg");
        @include size(14px, 14px);
        position: absolute;
        left: -20px;
    }
}

.plan-button {
    color: #ffffff;
    @include size(72%, 38px);
    border: none;
    border-radius: 26px;
    background: $orange-gradient;
    transition: filter .3s ease-in-out;
    cursor: pointer;

    &:hover {
        filter: brightness(86%);
    }
}

// ----------- Mobile size -----------
@media (max-width: 768px) {
    .plan {
        @include size(72vw, 70vh);
    }
    .plan-property {
        font-size: 14px;
    }
    .plan-button {
        @include size(56%, 36px);
    }
}

// ----------- Tablet size -----------
@media (min-width: 768px) and (max-width: 1024px) {
    .plan {
        @include size(46vw, 62vh);
    }
    .plan-button {
        @include size(46%, 40px);
    }
}