@import "./variables";
@import "./mixins";

.service {
    @include size(24vw, 22vw);
    @include flex(column, space-evenly, center);
    box-shadow: 0px 0px 14px #ddd;
    border-radius: 18px;
    padding: 1rem;
    transition: all .4s ease-in-out;
    
    &:hover {
        transform: translateY(-10px);
        transition: all .4s ease-in-out;
    }
}

// Each service properties
.service {
    background-color: #ffffff;
    .service-title {
        color: #000000;
    }
    .service-description {
        color: gray;
    }
    .service-button {
        color: #ffffff;
        background-color: #d54513;
    }
}

// Each service HOVER properties
.service:hover {
        background-color: #d54513;
        .service-title {
            color: #ffffff;
        }
        .service-description {
            color: #ffffff;
        }
        .service-button {
            color: #d54513;
            background-color: #ffffff;
        }
        svg {
            fill: #ffffff;
        }
    }
    
.service-icon {
    width: 40px;
}

.service-title {
    font-size: 22px;
}

.service-description {
    text-align: center;
    font-size: 14px;
}

.service-button {
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 24px;
    text-transform: capitalize;
    font-family: cursive;
    box-shadow: 0px 0px 6px #958d8d;
    cursor: pointer;
    
    &:hover {
        box-shadow: 0px 0px 6px #5d5b5b;
    }
}

// -------------- Mobile Size --------------

@media (max-width: 768px) {
    .service {
        @include size(62vw, 62vw);

        svg {
            width: 30px;
        }
        .service-title {
            font-size: 18px;
        }
        .service-description {
            font-size: 12px;
        }
        .service-button {
            padding: 0.4rem 1.2rem;
            font-size: 12px;
        }
    }
}

// -------------- Tablet Size --------------

@media (min-width: 769px) and (max-width: 1024px) {
    .service {
        @include size(52vw, 42vw);

        svg {
            width: 50px;
        }
        .service-title {
            font-size: 24px;
        }
        .service-description {
            font-size: 16px;
        }
        .service-button {
            padding: 0.7rem 1.6rem;
            font-size: 14px;
        }
    }
}