* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: cursive;
}

body {
  overflow: hidden;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

header, .top-banner {
  padding: 0 12%;
}

header {
  width: 100vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header #title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}

header .top-nav {
  width: 50%;
}

header .top-nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

header .top-nav ul .top-nav__item {
  color: #555555;
}

header .top-nav ul .has-dropdown a:active ul {
  opacity: 1;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  top: 30px;
  visibility: visible;
}

header .top-nav ul .has-dropdown:hover ul {
  opacity: 1;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
  top: 30px;
  visibility: visible;
}

header .top-nav ul .has-dropdown {
  position: relative;
}

header .top-nav ul .has-dropdown .dropdown {
  width: 250px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(177deg, #fa6832 0%, #d54513 100%);
  position: absolute;
  left: 0;
  top: 74px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

header .top-nav ul .has-dropdown .dropdown .dropdown__item {
  width: 100%;
  height: 46px;
  color: #ffffff;
  text-align: start;
  padding: 12px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  font-size: 14px;
  cursor: pointer;
}

header .top-nav ul .has-dropdown .dropdown .dropdown__item:hover {
  color: #000000;
  background-color: #f7f5f5;
  padding-top: 14px;
  padding-left: 14px;
  -webkit-box-shadow: 0px 0px 6px #cccccc;
          box-shadow: 0px 0px 6px #cccccc;
}

header .top-nav ul .has-dropdown .dropdown hr {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  border: none;
}

header .sign-in a {
  color: #555555;
}

header .sign-in a:hover {
  color: #d54513;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

header .top-estimates button {
  color: #ffffff;
  padding: 10px 22px;
  background: linear-gradient(177deg, #fa6832 0%, #d54513 100%);
  -webkit-box-shadow: 0 2px 15px #7b68ee26;
          box-shadow: 0 2px 15px #7b68ee26;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.hovered {
  position: relative;
  overflow: hidden;
}

.hovered::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #32323250;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation: hover .4s 1;
          animation: hover .4s 1;
}

.left {
  position: relative;
  overflow: hidden;
}

.left::before {
  content: "";
  width: 0;
  height: 0;
  background-color: #32323250;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: leave .4s 1;
          animation: leave .4s 1;
}

@-webkit-keyframes hover {
  0% {
    width: 2px;
    height: 2px;
    visibility: hidden;
    border-radius: 50%;
    top: var(--top);
    left: var(--left);
  }
  10% {
    visibility: visible;
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

@keyframes hover {
  0% {
    width: 2px;
    height: 2px;
    visibility: hidden;
    border-radius: 50%;
    top: var(--top);
    left: var(--left);
  }
  10% {
    visibility: visible;
    border-radius: 50%;
  }
  100% {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
}

@-webkit-keyframes leave {
  0% {
    width: 200px;
    height: 200px;
    border-radius: inherit;
  }
  90% {
    visibility: visible;
    border-radius: 50%;
  }
  100% {
    width: 2px;
    height: 2px;
    visibility: hidden;
    border-radius: 50%;
    top: var(--top);
    left: var(--left);
  }
}

@keyframes leave {
  0% {
    width: 200px;
    height: 200px;
    border-radius: inherit;
  }
  90% {
    visibility: visible;
    border-radius: 50%;
  }
  100% {
    width: 2px;
    height: 2px;
    visibility: hidden;
    border-radius: 50%;
    top: var(--top);
    left: var(--left);
  }
}

.top-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 58vh;
  position: relative;
}

.top-banner::before {
  content: "";
  position: absolute;
  width: 40vw;
  height: 40vw;
  background-color: #c1c1c12b;
  bottom: -240px;
  left: -140px;
  border-radius: 50%;
  -webkit-transform: rotate(-58deg);
          transform: rotate(-58deg);
  z-index: -10;
}

.top-banner::after {
  content: "";
  position: absolute;
  width: 60vw;
  height: 60vw;
  background-color: #c1c1c12b;
  top: -290px;
  right: -360px;
  border-radius: 30px;
  -webkit-transform: rotate(-58deg);
          transform: rotate(-58deg);
  z-index: -10;
}

.top-banner .banner-details {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6rem 0px;
  padding-right: 6rem;
}

.top-banner .banner-details .banner-heading {
  font-size: 26px;
  text-transform: capitalize;
}

.top-banner .banner-details .banner-title {
  color: #d54513;
  font-size: 42px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-banner .banner-details p:nth-child(4) {
  font-weight: bold;
}

.top-banner .banner-details .banner-downloadlinks img {
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.top-banner .banner-details .banner-downloadlinks img:hover {
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.top-banner .banner-img-container {
  height: 100%;
}

.top-banner .banner-img-container img {
  width: 500px;
  -webkit-animation: imageMovement 4s infinite;
          animation: imageMovement 4s infinite;
}

@-webkit-keyframes imageMovement {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes imageMovement {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
/*# sourceMappingURL=style.css.map */