* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
        
body {
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

header,
.top-banner,
.services,
.about,
.pricing,
.counter,
.solutions {
  padding: 0 12%;
}